<html>
<body>
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
            <tr>
                <td>Search</td>
                <td><input type="text" id="search"></td>
                <td><button id="search_btn">Go</button></td>
            </tr>
            <tr>
                <td>Filter by Name</td>
                <td><input type="text" id="name"></td>
            </tr>
            <tr>
                <td>Filter by State</td>
                <td><select id="state"></select></td>
            </tr>
            <tr>
                <td>Filter by City</td>
                <td><select id="city"></select></td>
            </tr>
        </tbody>
    </table>
    <table id="table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>State</th>
                <th>City</th>
                <th>Pin Code</th>
            </tr>
        </thead>
    </table>
</body>
</html>
<script>
    $(document).ready(function() {
    $('#table').DataTable( {
        "ajax": {
            "url": "https://localhost:44366/Home/GetUsers",
            "dataSrc": ""
        },
        "columns": [
            { "data": "name" },
            { "data": "email" },
            { "data": "phone" },
            { "data": "address" },
            { "data": "state" },
            { "data": "city" },
            { "data": "pncd" }
        ]
    });

        $.ajax({ method: 'GET', url: 'https://localhost:44366/Home/GetCities' }).done(function (response) {
            var arr = JSON.parse(response);
            while (document.getElementById('cities').firstChild)
                document.getElementById('cities').removeChild(document.getElementById('cities').firstChild);
            for (var i = 0; i < arr.length; i++) {
                document.getElementById('cities').add(new Option(arr[i].name, arr[i].id));
            }
        });
        $.ajax({ method: 'GET', url: 'https://localhost:44366/Home/GetStates' }).done(function (response) {
            var arr = JSON.parse(response);
            while (document.getElementById('states').firstChild)
                document.getElementById('states').removeChild(document.getElementById('states').firstChild);
            for (var i = 0; i < arr.length; i++) {
                document.getElementById('states').add(new Option(arr[i].name, arr[i].id));
            }
        }); 


    });

    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var name = $('#name').val();
            var city = $('#city').val();
            var state = $('#state').val();

            if (data[0].includes(name) ||
                data[4].includes(state) ||
                data[5].includes(city) )
            {
                return true;
            }
            return false;
        }
    );


    $('#name, #state', '#city').change(function () {
        $('#table').DataTable().draw();
    });
    $('#search_btn').click(function () {
        $('#table').search($('#search').val()).draw();
    });

</script>